@charset "utg-8";
/* 서브페이지 공통 CSS - sub.css */

/* 

    [import 로 파일 합치기] 
    외부 css 파일에서 다른 외부 CSS 파일을 
    import 방식으로 불어올 때 장점은? 
    html 파일에서 link 로 호출할 경우 
    http request (웹요청) 이 많아져서 
    페이지 렌더링 속도에 영향을 미친다.! 
    따라서 import 방식을 쓰면 더 적은 웹요청에 따라 
    처리속도에 도움이 된다.! 
    @ at을 의미한다.
    
    - 주의 : import 는 css 파일 상단에서 처리한다.! 

*/
/* @import url (파일주소); */
@import url(./common.css);

/* 본 css 설정 코드는 하단에 한다.!  */

/* 메인 영역 박스 */
.cont {
    /* 패딩 15px (기존 20px 재정의) */
    padding: 15px;
}

/* 2-1. 언론사 로고   */
.prologo img {
    height: 32px;
    /* 이미지는 가로 세포 중 한쪽만 주면 자동 비율 유지를 한다. */
}

/* 2-2. 기사제목  */
.atit {
    /* 글자크기 fz30 */
    font-size: 30px;

    /* 글자두께 보통 fwn */
    font-weight: normal;

    /* 글자간격(자간) letter-spacing: ls; 
    기본값 0 (normal), 양수는 멀어짐, 음수는 가까워짐*/
    letter-spacing: -1px;

    /* 단어간격 word-spacing : ws 
    기본값 0 (normal), 양수는 멀어짐, 음수는 가까워짐*/
    word-spacing: 1px;

    /* 줄바꿈 방지 : 공백->백공 -> white-space 값-> nowrap 박스끝에서 줄바꿈 안되고 계속감 
    
    normal(기본값) 박스끝에서 줄바꿈*/
    /* [언제쓰나]
    줄바꿈이 되면 안될 때 
    (예: 한줄에 오는 문장, ...으로 마감할 때, 버튼 글씨가 떨어지지 않도록 할때  )*/

    /* white-space: nowrap; */
}

/* 2-3. 기사사진(+사진설명)   */
.afig {
    /* 마진 m : 2개값 -> 위아애 양쪽*/
    margin: 15px 0;
    /* 인라인 가로 중앙 : text-align tac  */
    text-align: center;
}
/* 기사이미지  w100p -> width:100%*/
.afig img {
    width: 100%;
}
/* 기사 이미지 설명글 */
.afig small {
    /* 글자체 :ff */
    font-family: "Gugi", "serif";
    /* 글자크기 : fz 
    일반적으로 가독성에 좋은 글자크기 최저 한계는 10px이다. */
    font-size: 12px;
    /* 글자색 : c */
    color: #d46262;
}

/* 2-4. 기사내용   */
.arti p {
    /* 글자크기 fz */
    font-size: 17px;
    /* 위아래 줄간격 : lh */
    /* 주의 : 단위가 없으면 배수임, 기준은 글자크기임!*/
    line-height: 1.7;
    /* 위아래 양쪽 패딩 */
    padding: 0 10px;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 글자 들여쓰기 양수, 내어쓰기 음수  */
    /* 값: 양수는 들여쓰기, 음수는 내어쓰기 */
    /* text-indent: -20px; */
    /* 양쪽 정렬 taj */
    text-align: justify;
}

/* mark 요소 변경하기 */
.arti p mark {
    /* 인라인을 블록으로 변경! db*/
    display: block;
    /* 글자크리변경 */
    font-size: 20px;
    /* 줄간격  */
    line-height: 2;
    /* 양쪽 패딩 위아래 양쪽 pd0 50추가 */
    padding: 20px 50px;
    /* 배경색 */
    background-color: #ebebeb;
    /* 보더 위아래  
    위(top) , 아래(bottom), 왼쪽(left), 오른쪽(right) */
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    /*중앙정렬  */
    text-align: center;

    /* 위아래 마진 */
    margin: 15px 0;
}

/* p 요소 아래 em 요소 디자인 변경  */
.arti p em {
    /* 글자그림자 = text-shadow 투명도가 알파값이다.*/
    /*값 : x축, y축, 블러 색   */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    /* 이탤릭 해제 :fsn*/
    font-style: normal;
    /* 글자색  */
    color: darkorchid;
    /* fwb */
    font-weight: bold;
}

/* 2-5. 기자정보   */
.rpt {
    /* display 출신변경 
    디자인 적용과 동시에 인라인 특성만 글자만큼만 크기가 잡히도록 인라인블록으로 변경함*/
    /* 크기를 준 것이 아니기에 
    box-sizing: border-box 가 기본 설정되어 있어서 크기가 설정시 패딩과 보더가 안쪽에 포함된다.! 는 
    아직 적용 된 것이 아니다.  */
    display: inline-block;
    /* 글자 크기 fz */
    font-size: 14px;
    /* 배경색 bgc*/
    background-color: rgba(194, 181, 181, 0.452);
    /* 패딩 */
    padding: 5px;
    /* 마진 */
    margin: 15px 0;
}

.cont {
    overflow: hidden;
}
/* 2-6. 기사원문  별도의 이름 없이 구조로만 기자 원문을 선택한다.! */
.cont > h5 {
    /* 내부의 인라인 요소 오른쪽 정렬 */
    /* 아래의 a 태그가 인라인 블록이기에 인라인 요소도 가지고 있기에 가능함 */
    /* 패딩을 주게 되면 유용성 있는 페이지에 나중에 튕겨 나갈수 있다. 비추  */
    text-align: right;
}

.cont > h5 > a {
    /* 디자인 적용 위해 display 변경 */
    /* 인라인 블록에서 블락요소가 있기에 마진 적용과, width, height 적용이 된다. */
    /* width, height 넣어야 원이 된다 */
    display: inline-block;
    /* 기본없애기 */
    margin: 20px 0;
    padding: 0;
    /* 가로세로지정 */
    width: 70px;
    height: 70px;
    /* 테두리 bd */
    border: 2px solid #dbdbdb;
    /* 글자중앙 */
    text-align: center;
    /* 세로중앙 vertical 은 인라인 요소라서 안됨 */
    line-height: 70px;
    /* 모서리 둥글게 하기 : border-radius */
    /* bara -> 50% 는 원 이다.  */
    border-radius: 50%;
    /* 배경색 */
    background-color: lightsalmon;
}

/* 가상클래스로 마우스 오버시 박스 그림자 넣기 */
.cont > h5 > a:hover {
    /* 박스그림자 
    box-shadow: x y blur spread 색;
    (내부그림자는 inset씀)
    - spread 박스그림자 크기 (필요시 씀 )*/
    box-shadow: 0 0 5px 10px rgb(243, 5, 5);
}

/* 메인 공통 article 박스 디자인 */
.cont article {
    /*  구분선 : 보더 위 bdt */
    border-top: 2px dashed #ccc;
    /* 마진위 mt */
    margin-top: 40px;
    /* 패딩 p */
    padding: 15px;
}

/* 각 파트별 공통 타이틀 */

/* 기사 관련 타이틀 h5 */
/* .cont>h5 와 구분하기 위해 중간 경로 article 씀  */
.cont h5 {
    /* 글자 두께 :얇게 (기본값) fwn */
    /* 글자체 마다 light , bolder 적용안하는 것도 있음 */
    font-weight: normal;
    /* 글자 크기 : fz */
    font-size: 20px;
    /* 글자 들여쓰기 : ti */
    /* text-indent: 20px; */
    /* 글자색 c */
    color: #333;
}

/* 개인 파트  타이틀 h3 */
.cont h3 {
    /* 글자체 : 웹폰트 ff */
    font-family: "Gugi", cursive;
    /* 글자 두께 :얇게 (기본값) fwn */
    /* 글자체 마다 light , bolder 적용안하는 것도 있음 */
    font-weight: normal;
    /* 글자 크기 : fz */
    font-size: 26px;
    /* 글자 들여쓰기 : ti */
    text-indent: 20px;
    /* 글자색 c */
    color: #333;
}

/* 기사 관련 타이틀 h5 */
/* .cont>h5 와 구분하기 위해 중간 경로 article 씀  */
/* 헤딩 태그에는 기본적으로 마진이 있어 0 으로 바꿈   */
.cont .desc h5 {
    /* 내용만큼 자동크기 위해 inline -block  */
    display: inline-block;

    /* 글자체가  다르기에 크기를 잡기 보다  자연스럽게 패딩을 줌 */
    /* 패딩 위아래 */
    padding: 10px 20px;

    /* 배경색 bgc */
    background-color: rgb(141, 129, 124);

    /*테두리  */
    /* bd 라고 적어야 픽셀 모양 색깔이 나옴, 
    bo 라고 적지 말기 */
    border: 2px solid #dbdbdb;

    /* 둥근모서리 brad  */
    border-radius: 20px;

    /* 헤딩 요소 기본마진 없음  */
    margin: 0;

    /* 내부 그림자 bsh 
    inset 은 내부그림자*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.404);
}

.cont .qb h5 {
    display: inline-block;
    border: 2px solid #dbdbdb;
    background-color: rgb(141, 129, 124);
    border-radius: 20px;

    padding: 10px 20px;

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.404);
}

/* 주해박스*/
.desc div {
    /* 패딩 p  위 양쪽 아래,  위에 하고 있는 것이 있어서 아래에 0을 줌  */
    padding: 20px 5px 0;
    /* 줄간격 : lh */
    line-height: 1.8;
    /* 자간 :letter-style: ; */
    letter-spacing: 1px;
    /* 양쪽 정렬 justify*/
    text-align: justify;
}

/* 인용박스*/
.qb blockquote {
    /* 기본 마진 없애기 */
    margin: 0;
    /* 패딩 p  위 양쪽 아래,  위에 하고 있는 것이 있어서 아래에 0을 줌  */
    padding: 20px 5px 0;
    /* 줄간격 : lh */
    line-height: 1.5;
    /* 자간 :letter-style: ; */
    /* letter-spacing: 0px; */

    /* 글자크기 fz  */
    font-size: 14px;

    /* 양쪽 정렬 justify*/
    text-align: justify;
}

/* 오늘의 작품 & 느낌  */
.work {
    /* 글자웅앙 : tac */
    text-align: center;
    /* 배경색  */
    background-color: lightpink;

    /* 그라데이션 -> 이미지로 bgi */
    background-image: linear-gradient(
        45deg,
        rgb(190, 117, 117) 10%,
        rgb(189, 189, 113) 20%,
        rgb(189, 189, 113) 80%,
        blue
    );

    /*linear-gradient (방향, 색1 %, 색2 %,.....);
    * 방향: to top, to bottom, to left, to right  
    (방향 에 각도를 쓰면 그라데이션 각도가 표현됨)
    -> 방향대신 각도 : 수치 deg (예 :45deg)
    * 색상을 콤마로 나열하면 등분할 하여 그라데이션 포현되고 색상 뒤에 % 수치를 쓰면 
    특정 비율을 나타낼 수 있다.!*/

    /* 배경옵션 추가 */
    /* background-clip: 배경이 칠해지는 범위 설정 ; */
    /* 1. border-box -> 보더까지 적용 (기본값) 
        2. padding-box -> 패딩가지 적용 
        3. content-box -> 내용영역만 적용 (패딩, 보더 빠짐) */
    background-clip: content-box;
}

/* 작품명  */
.work figcaption {
    font-family: "Gugi", cursive;
}
.work figcaption cite {
    /* 기본 이탤릭 해제 :fsn */
    font-style: normal;
}
/* 작품이미지 */
.work img {
    border: 15px ridge goldenrod;
}

/* 파트별 a 링크 요소 공통 디자인 */
.cont article a {
    /* 글자크기 fz */
    font-size: 17px;
    /* 줄간격 lh */
    line-height: 2.5;
    /* 자간 ls */
    letter-spacing: -1px;
}

/* 가상클래스 hover 오버시 */
.cont article a:hover {
    /* 글자색 c*/
    color: #85a143;
    /* 글자그림자 ts */
    text-shadow: 1px 1px 1px #000;
}

/* 공통 ul */
.cont article ul {
    /* 리스트 타입 lst */
    list-style-type: "✨";
    /* square 사각형, disc 원형, circle 원형
    -> 따옴표 안에 다른 문자형 을 넣 울 수 있음 
    -> 윈도우키 + 점(.) -> 아이콘 가능  */
}

/* 공통 ol */
.cont article ol {
    /* 숫자형 리스트 스타일 lit */
    list-style-type: upper-roman;
    /* upper-roman 로마자 대문자
    순서를 표시하는 종류는 너무 많다.!  */
}

/* 주요 뉴스 li별 글자색 변경하기*/
/* [자식요소 선택 가상 클래스: 자식요소 종류가 같아야 함] 
    요소: first-child -> 첫번째 자식요소
    요소: nth-child -> n번째 자식요소
    요소: last-child -> 마지막째 자식요소
*/

/* [css 적용 우선순위]
type < class < id < inline < !important

-> 더쎈 선택자이어여도 부모요소를 업고 잇는 것이 더 쎄다 
예 > #my < .cont #my*/

.cont article ul li:first-child a {
    color: red;
}
.cont article ul li:nth-child(2) a {
    color: green;
}
.cont article ul li:nth-child(3) a {
    color: blue;
}

/* 블릿과 글자사이 간격 주기  */
/* 글자를 기준으로 왼쪽 패딩을 주는 것이 일반적  */

.cont article ul li,
.cont article ol li {
    padding-left: 10px;
}

/* 분야별 뉴스 */
/* 각 분야별 dt 공통 디자인 */
.secnews dt {
    /* 글자체 : 웹폰트  */
    font-family: "Gugi", cursive;
    /* 글자 크기 만큼 디자인 적용 위해  dib */
    display: inline-block;
    /* 보더 bd */
    border: 3px dashed darkseagreen;
    /* 패딩 p */
    padding: 10px;
    /* 둥근모서리 : 원 50%*/
    border-radius: 50%;
    /* 글자크기 : fz */
    font-size: 24px;
    /* 인라인 이동은 마진으로 이동한다. 
    왼쪽 마진으로 이동하기 */
    margin-left: 20px;
    /* 박스그림자 bsh
    (inset) x y blur spread 색*/
    box-shadow: 0 0 5px 5px rgba(230, 59, 59, 0.363);
}

/* 앞에 dd가 있는 dt만  마진탑 밀기  */
.secnews dd + dt {
    /* 마진탑 밀기  */
    margin-top: 20px;
}

/* dd 공통  */
.secnews dd {
    /* 왼쪽 마진 ml */
    margin-left: 100px;
}

/* [여러종류가 섞여 있을 경우 형제 선택하기]
요소 : first-of-type -> 같은 요소 중 1번째 
요소 : nth-of-type(n) -> 같은 요소 중 n번째
요소 : last-of-type -> 같은 요소 중 마지막*/

/* dt 별 글자색 다르게 하기  */
.secnews dt:first-of-type {
    color: blue;
}
.secnews dt:nth-of-type(2) {
    color: green;
}
.secnews dt:last-of-type {
    color: rgb(251, 255, 0);
}
