@charset "utf-8";
/* 스타일시트 인코딩을 UTF-8 방식으로 설정. 
<meta charset="utf-8"> 브라우저에게  text를 어떻게 그려달라는지 말해주는 것이에요.
위 태그가 없으면 한글, 특수문자 들이 깨져서 나올 수 있어요.

웹브라우저, 컴퓨터의 HTML파일을 웹브라우저에서 표시될 수 있도록 변환하는 처리작업을 얘기해요.
파일의 정보 형태가 어떤 언어로 되어 있는지에 대한 지정이 필요한데 이것을 문자 코드셋이라고 해요. */

/* Robot PJ - 애니메이션 CSS */

/* 키프레임 : 애니메이션 장면  */

/* [ 키프레임이란? ]
- 애니메이션 변화를 지정하는 코딩영역

[ 2장면 코딩법 ]

@keyframes 키프레임명{
    from{시작CSS}
    to{마지막CSS}
}

[ 여러장면 코딩법 ]
- 퍼센트로 장면을 분할하여 사용함
(무한대의 장면 연출가능)

@keyframes 키프레임명{
    0%{CSS설정}
    10%{CSS설정}
    20%{CSS설정}
    ...
    90%{CSS설정}
    100%{CSS설정}
}

[ 설정된 키프레임 호출하는 방법 ]

animation: 이시이지반방마
(이름 시간 이징 지연 반복 방향 마지막상태) */

/* 1-1. 로봇 등장 키프레임 */
@keyframes showRobot {
    from {
        transform: scale(0.1) translate(200%, -50%);
        /* 스케일이 작으면 퍼센트가 달라셔저 퍼센트 높임 */
    }
    to {
        transform: scale(1);
    }
}

/* 1-2 키프레임 호출설정! -대상 */
.robx {
    /* 애니메이션 :이시이지반방마 */
    /* animation: showRobot 3s ease-in-out 1s; */
}
